table {
  width: 100%;
}


.container {
  //display: flex;
  margin: auto;
  width: 80%;
}

.mat-card {
  max-width: 200px;
}

.tile {
  width: 50px;
}

.centered-element {
  display: block;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.example-container {
  width: 95%;
  height: 100%;
  margin: 10px;
  border: 1px solid #555;
}

.radius {
  border-radius: 18px;
}
